<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>failure</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/615eec2c8f.js" crossorigin="anonymous"></script>
</head>
<body>
<header>

</header>
<main>
    <h1>failed</h1>
</main>
<footer>

</footer>
</body>